<p id="notice"><%= notice %></p>

<h1>Utcs</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utcs.each do |utc| %>
      <tr>
        <td><%= utc.country %></td>
        <td><%= utc.city %></td>
        <td><%= link_to 'Show', utc %></td>
        <td><%= link_to 'Edit', edit_utc_path(utc) %></td>
        <td><%= link_to 'Destroy', utc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utc', new_utc_path %>
